/GNUmakefile
baseline_tools/
/build/
/.cache/
/.vscode/
*.pyc
.sdk
.stgit-*
.git-submodule-status
.clang-format
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov
test_*
!linux-user/rr_fuzzing/test_checkpoint.py
!linux-user/rr_fuzzing/test_checkpoint_rotation.py
.codex
